@import "../../mixins.scss";

.heroBanner {
  width: 100%;
  height: 450px;
  background-color: var(--black);
  display: flex;
  align-items: center;
  position: relative;
  @include md {
    height: 700px;
  }
  .backdrop-img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.5;
    overflow: hidden;
    .lazy-load-image-background {
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }

  .opacity-layer {
    width: 100%;
    height: 250px;
    background: linear-gradient(180deg, rgba(4, 21, 45, 0) 0%, #04152d 79.17%);
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .heroBannerContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    .title {
      font-size: 50px;
      font-weight: 700;
      margin-bottom: 10px;
      @include md {
        margin-bottom: 0;
        font-size: 90px;
      }
    }
    .subtitle {
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 40px;
      @include md {
        margin-bottom: 0;
        font-size: 24px;
      }
    }
  }
}
